<nav class="navbar navbar-expand-lg custom-navbar">
    <a class="navbar-brand" href="/vserver-hosting/index.html">
        <div class="logo-icon"></div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link custom-link" href="/vserver-hosting/pages/Support.html">Hilfe & Support</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-link" href="/vserver-hosting/pages/warenkorb.html">Warenkorb</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
            </li>
        </ul>
    </div>
</nav>
