

.ReactModal__Content {
  pointer-events: none;
}

.container {
  pointer-events: auto;
}

.login-modal .container{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
  }
  .login-modal .wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
  }
  .login-modal .wrapper .title{
    height: 90px;
    background: #16a085;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-modal .wrapper form{
    padding: 30px 25px 25px 25px;
  }
  .login-modal .wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  .login-modal .wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .login-modal form .row input:focus{
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
  }
  .login-modal form .row input::placeholder{
    color: #999;
  }
  .login-modal .wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-modal .wrapper form .pass{
    margin: -8px 0 20px 0;
  }
  .login-modal .wrapper form .pass a{
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
  }
  .login-modal .wrapper form .pass a:hover{
    text-decoration: underline;
  }
  .login-modal .wrapper form .button input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
  }
  .login-modal form .button input:hover{
    background: #12876f;
  }
  .login-modal .wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
  }
  .login-modal .wrapper form .signup-link a{
    color: #16a085;
    text-decoration: none;
  }
  .login-modal form .signup-link a:hover{
    text-decoration: underline;
  }
  