/* Dropdown- und Navbar-Stile */
.dropdown-toggle {
  background-color: transparent;
  color: white;
  border: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  right: 15px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.custom-navbar {
  background-color: #D35400;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.navbar-nav {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

/* Globale Stile */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Zentriert den Inhalt */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Header-Stile */
.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h3 {
  font-size: 32px;
  margin-bottom: 20px;
  color: black;
}

/* Beschreibung-Stile */
.description-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}

.description-text {
  flex: 1;
  padding-right: 20px;
}

.description-image {
  flex: 1;
  max-width: 600px;
}

.description-image img {
  width: 100%;
  height: auto;
}

/* Frame-Stile */
.server-frame, .support-frame {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 400px;
  margin: 20px auto;
}

.server-frame h4, .support-frame h4 {
  margin-bottom: 10px;
  color: black;
}

.centered {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

/* Slider-Stile */
.slider-container {
  margin-bottom: 20px;
}

.slider-container label {
  display: block;
  margin-bottom: 10px;
}

.slider {
  width: 100%;
}

/* OS-Auswahl-Stile */
.os-selection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.os-selection label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* Stile für Linux-Logo */
.os-selection label input[value="Linux"] + img {
  width: 100px; /* Breite des Linux-Logos */
  height: 40px; /* Höhe des Linux-Logos */
}

/* Stile für Windows-Logo */
.os-selection label input[value="Windows"] + img {
  width: 150px; /* Breite des Windows-Logos */
  height: 40px; /* Höhe des Windows-Logos */
}

/* Bestellbutton-Stile */
.order-button, .form-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.order-button:hover, .form-button:hover {
  background-color: #0056b3;
}

.order-button:active, .form-button:active {
  background-color: #00408a;
}

/* Zusammenfassungs-Stile */
.summary {
  margin-top: 30px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.summary p {
  margin-bottom: 5px;
}

.summary hr {
  margin: 5px 0;
}

.aws-logo {
  width: 40px; /* Breite des AWS-Logos */
  height: 30px; /* Höhe des AWS-Logos */
  margin-right: 5px;
}

/* Preconfigured Server Stile */
.preconfigured-server {
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 20px;
}

.preconfigured-server.no-background {
  background-color: transparent;
}

.preconfigured-server h4 {
  margin-bottom: 10px;
}

.preconfigured-server p {
  margin-bottom: 5px;
}

/* Angleichung der Container */
.server-frame, .support-frame {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* FAQ-Stile */
.faq-section {
  text-align: left;
}

.faq-section h4 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.faq {
  margin-bottom: 20px;
}

.faq h5 {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}

.faq p {
  font-size: 16px;
  margin-bottom: 5px;
  color: black;
}

/* Betriebssysteme-Stile */
.os-section {
  margin-bottom: 20px;
}

.os-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.os-item {
  flex: 1 1 200px;
  margin: 10px;
  text-align: center;
}

.os-logo {
  max-width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.os-logo.windows-logo {
  max-width: 300px; /* Verdoppelte Breite für Windows-Logos */
}

/* Home.jsx spezifische Anpassungen */
.server-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.server-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 22%; /* Feste Breite für die Server-Container */
  margin: 10px;
}

.server-container h3 {
  margin-bottom: 10px;
  color: black;
}

.server-container p {
  margin-bottom: 5px;
  color: black;
}

.server-container p2 {
  font-weight: normal; /* Anpassung der Schriftstärke */
}

.server-container p1 {
  font-size: 18px;
  color: #007bff;
}

.error-message {
  color: red;
  font-weight: bolder;
  font-size: 12px;
  margin-top: 5px;
}

/* Warenkorb spezifische Anpassungen */
.invoice {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invoice-header, .invoice-footer {
  margin-bottom: 20px;
}

.invoice-header h4 {
  margin-bottom: 10px;
  color: black;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.invoice-table th, .invoice-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.invoice-table th {
  background-color: #f1f1f1;
}

.os-logo-small {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.cart-linux-logo {
  width: 60%;
  height: 50%;
  margin-left: 5px;
}

.cart-windows-logo {
  width: 70%;
  height: 50%;
}

.remove-button, .submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.remove-button:hover, .submit-button:hover {
  background-color: #0056b3;
}

/* Warenkorb Container */
.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-container h3 {
  text-align: center;
  margin-bottom: 20px;
}

.cart-container ul {
  list-style-type: none;
  padding: 0;
}

.cart-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.position-relative {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}
